
.home{
    background-image: url('https://img.freepik.com/premium-photo/woman-is-doing-push-ups-gym-with-blue-tank-top_1271244-162015.jpg?w=826');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home-heading{
    font-size: 50px;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px rgb(105, 240, 27);
    text-stroke: 1px white;
    font-weight: bold;
    padding-top: 50px;
    
   
   
}


.home-text{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
    
    
   
}
.button-container{

    display: flex;
    justify-content: center;
    margin-top: 20px;


}
.home-btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(75, 192, 192, 0.2), rgba(75, 192, 192, 1));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    &:hover {
        background-color: #d6670c;
    }

    
    

}
